.setting{
    display: flex;
}
.settingwrapper{
    flex: 9;
    padding: 20px;
}
.settingtitle{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.settingupdatetitle{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightcoral;

}
.settingdeletetitle{
    color: red;
    font-size: 12px;
    cursor: pointer;

}
.settingform{
    display: flex;
    flex-direction: column;

}
.settingpp{
    display:flex;
    align-items: center;
    margin: 10px 0;


}
.settingpp > img{
    width:150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover;
}
.settingppicon{
    width: 20px;
    height: 20px;
    border-radius:50%;
    background-color: lightcoral;
    color: white;
    align-items:center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;

}
.settingform>label{
    font-size: 20px;
    margin-top: 20px;
}
.settingform>input{
    color: gray;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightslategray;
}
.settingsubmit{
    width: 150px;
    align-self: center;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.success{
    color: green;
    text-align: center;
    margin-top: 20px;
}